name: test project
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: get code
              uses: actions/checkout@v6
            - name: install node js
              uses: actions/setup-node@v6
              with:
                node-version: 18
            - name: Install Dependencies
              run: npm ci
            - name: Run Test
              run: |
                npm test